/* start buttons */

/* .btn {
  position: absolute;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  top: 30px;
  left: 50%;
  color: #fff;
  background-color: blue;
  outline: none;
  text-transform: capitalize;
  font-size: 30px;
  transition: 0.3s ease all;
}

.win {
  background-color: green;
}

.fail {
  background-color: red;
}

.danger {
  background-color: brown;
}

.attention {
  background-color: yellowgreen;
} */

/* end buttons */

/* start scroll */
html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.fixed-nav + .site-wrap {
  transform: scale(1);
}

.header {
  text-align: center;
  height: 50vh;
  background: url(http://wes.io/iEgP/wow-so-deep.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

.nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

.logo a {
  color: black;
}

.fixed-nav .logo {
  max-width: 500px;
}

/* end scroll */

/* .container {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  column-gap: 20px;
}

.box {
  background-color: yellow;
  height: 230px;
  font-size: 30px;
  color: #000;
  font-weight: 700;
}

.parent {
  background-color: #000;
  width: 500px;
  height: 500px;
  color: #fff;

  font-size: 50px;
  font-weight: 700px;
}

.child {
  background-color: yellow;
  width: 400px;
  height: 400px;
}

.grandchild {
  background-color: green;
  width: 300px;
  height: 300px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.modal {
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin: auto;
}

.open-modal {
  display: flex;
}

.modal span {
  font-size: 30px;
  cursor: pointer;
} */
