/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}