<div class="container">
    <h2>Libs</h2>
    <ul>
        {{#each this}}
            <li>
                <span>{{this.id}}</span> 
                <span>{{this.lib}}</span>
            </li>
        {{/each}}
    </ul>
</div>