<div class="container">
    <h2>Frameworks</h2>
    <ul>
        {{#each frameworks}}
            <li>{{this}}</li>
        {{/each}}    
    </ul>
    <h2>Libs</h2>
    <ul>
        {{#each libs}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>